<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartIndiaHackathon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>tendorNoticeController</display-name>
    <servlet-name>tendorNoticeController</servlet-name>
    <servlet-class>sis.com.controller.tendorNoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tendorNoticeController</servlet-name>
    <url-pattern>/tendorNoticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hospitalRegController</display-name>
    <servlet-name>hospitalRegController</servlet-name>
    <servlet-class>sis.com.controller.hospitalRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hospitalRegController</servlet-name>
    <url-pattern>/hospitalRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenificaryRegistrationController</display-name>
    <servlet-name>BenificaryRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.BenificaryRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenificaryRegistrationController</servlet-name>
    <url-pattern>/BenificaryRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewRegisterController</display-name>
    <servlet-name>PreviewRegisterController</servlet-name>
    <servlet-class>sis.com.controller.PreviewRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewRegisterController</servlet-name>
    <url-pattern>/PreviewRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHospital</display-name>
    <servlet-name>ShowHospital</servlet-name>
    <servlet-class>sis.com.controller.ShowHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHospital</servlet-name>
    <url-pattern>/ShowHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>monthlyCheckController</display-name>
    <servlet-name>monthlyCheckController</servlet-name>
    <servlet-class>sis.com.controller.monthlyCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthlyCheckController</servlet-name>
    <url-pattern>/monthlyCheckController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showMonthDetailController</display-name>
    <servlet-name>showMonthDetailController</servlet-name>
    <servlet-class>sis.com.controller.showMonthDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMonthDetailController</servlet-name>
    <url-pattern>/showMonthDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkOTPcontroller</display-name>
    <servlet-name>checkOTPcontroller</servlet-name>
    <servlet-class>sis.com.controller.checkOTPcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkOTPcontroller</servlet-name>
    <url-pattern>/checkOTPcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptSchemeRequestController</display-name>
    <servlet-name>acceptSchemeRequestController</servlet-name>
    <servlet-class>sis.com.controller.acceptSchemeRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptSchemeRequestController</servlet-name>
    <url-pattern>/acceptSchemeRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>womenDashboardController</display-name>
    <servlet-name>womenDashboardController</servlet-name>
    <servlet-class>sis.com.controller.womenDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>womenDashboardController</servlet-name>
    <url-pattern>/womenDashboardController</url-pattern>
  </servlet-mapping>
 
</web-app>